[tools."github:twpayne/chezmoi"]
version = "2.69.3"
[tools."github:twpayne/chezmoi".platforms]
linux-x64 = { asset_pattern = "chezmoi_{version}_linux-musl_amd64.tar.gz" }

[tasks.apply-dotfiles]
run = '''
chezmoi apply
'''

[tasks.use-starship]
run = '''
cp assets/starship/powerline.toml dot_config/starship.toml
'''
